.body {
    background-color: grey;
    text-align: center;
}


.div1 {
    color: lightcoral;
    font-size: 18px;
    text-align: center;
}

.principal {
    color: black;
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
}

.ol1 {
    color: blue;
    font-size: 17px;
    text-align: center;
    padding: 0;
    list-style-position: inside;
}

.ul1 {
    font-style: italic;
    background-color: lightblue;
    width: 200px;
    margin: 0 auto;
    text-align: left;
    list-style-position: inside;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.h1 {
    text-align: center;
}

.hr1 {
    width: 300px;
    margin: 0 auto;
}
.izquierda{
    color: black;
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
}
.derecha{
    color: black;
    font-size: 20px;
    text-align: right;
    text-decoration: underline;
    
}
